<!--
===========================================================================================================
File: Landing Section for TheftTrackCHCG Application
Programmers: Angelica D. Ambrocio
Date Written: September 20, 2024
Date Revised: September 20, 2024

Where the program fits in the general system design:
    This HTML file represents the landing page section of the TheftTrackCHCG application. It is the introductory
    part of the UI that provides branding information and an inviting interface to attract users.

Purpose: 
    This HTML file defines the landing section of the TheftTrackCHCG web application, which includes:
    - The application logo, name, and a welcoming message.
    - A button to get started, which smoothly scrolls to the forecast section.

Data Structures, Algorithms, and Control:
    - HTML elements such as `<div>` and `<button>` for organizing content and handling user interaction.
    - Smooth Scroll to Forecast: A JavaScript function handles the button click event, smoothly scrolling the viewport to the forecast section when the "GET STARTED" button is clicked, enhancing user navigation.
    - The JavaScript function handles the button click event and scrolls the viewport to the forecast section.

===========================================================================================================
-->

<section id="landing" class="landing flex items-center justify-center">
  <div class="desktop content flex items-center justify-center">
    <img src="/static/images/Logo3.jpg" alt="Logo" class="logo-landing" />
    <div>
      <h1 class="TTM text-blue font-extrabold">
        Stay <span style="color: #d74e09"> One Step Ahead</span> of Theft.
      </h1>

      <h3 class="TTN text-green">
        Discover the patterns behind theft incidents with data-driven insights.
        TheftTrackCHCG enables you to monitor key socioeconomic factors, predict
        future trends, and work with your community to reduce theft and enhance
        safety across your area.
      </h3>
      <button class="get-started-btn" onclick="scrollToForecast()">
        Get Theft Insights
      </button>
    </div>
  </div>
</section>

<style>
  .landing {
    background-color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .logo-landing {
    height: 60vh;
    width: 800px;
    margin: 2vw 3vw 2vw 5vw;
  }

  .TTM {
    margin: 0;
    font-size: 44px;
    margin-bottom: 40px;
  }

  .TTN {
    font-size: 18px;
    font-weight: 300px;
    max-width: 80%;
    word-break: break-word;
    line-height: 1.5; /* Adjust line height as needed */
    text-align: justify;
    color: #1d3557;
    margin-bottom: 40px;
  }

  .get-started-btn {
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    background-color: #457b9d;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 1vw;
  }

  .get-started-btn:hover {
    background-color: #5487a7;
  }
</style>

<script>
  // Scrolls viewport to the forecast section
  function scrollToForecast() {
    const targetElement = document.getElementById("forecast");
    window.scrollTo({
      top: targetElement.offsetTop - 100,
      behavior: "smooth",
    });
  }
</script>
